<div class="row" id="content" ng-switch="contentPath">
<div ng-switch-when="sas_staff">
    <div ng-repeat="items in contentItems[1].content" class="profileContainer">
      <div class="profileImage inline">
        <img ng-src="img/profileImages/{{items.lastName}}.jpg" class="inline">
      </div>
      <div class="text inline right">
        <p><span><strong>name: </strong></span><span>{{items.firstName}} {{items.lastName}}</span></p>
        <p><span><strong>position: </strong></span><span>{{items.position}}</span></p>
        <p><span><strong>email: </strong></span><span>{{items.email}}</span></p>
      </div>
      <span class="sub_script">more info</span>
    </div>
</div>
<div ng-switch-when="resources">
<div >
  <ul class="resource-list">
    <li ng-repeat="items in contentItems[0].content"><img ng-src="img/pdf.jpg" class="thumbnail inline"><div class="inline">{{items}}</div></li>
  </ul>
</div>
</div>
  <!--div ng-switch-when="sas_staff">
    <div ng-switch-when="sas_staff" class="profile_container" ng-repeat="item in contentItems | filter: query">
      <div ng-switch-when="sas_staff" class="profile_image inline">
        <img ng-switch-when="sas_staff" ng-src="img/{{item.content.lastName}}.jpg">
        <p>{{item.content.firstName}} {{item.content.lastName}}</p>
      </div>
    </div>
  </div-->

</div>

<script>
    /*setTimeout(function(){
      if($('#data').html() === "view1"){
        $.ajax({
          url:'view1/templates/home.html',
          success: function(result){
              $('#content').html(result);
          }
        });
  }else{$('#content').html('No');}
}, 500);

$('#content').on('click', '.menu li', function(){
var dest = $(this).find('a').html();
var destMod = dest.replace(' ', '_');
alert(dest);
$.ajax({
  url:'view1/templates/'+destMod+'.html',
  success: function(result){
      $('#content').html(result);
  }
  });
});*/
</script>
