/* app css stylesheet */
html{
   /* height:100%; */
}

body{
  /* height:100%; */
}

ul{
  text-decoration:none;
  list-style:none;
}

a:link{
  text-decoration:none;
}

.menu {
  list-style: none;
  /* border-bottom: 0.1em solid black; */
  /* margin-bottom: 2em; */
  padding: 12px 0 0 20px;
  background: #fff;
  width: 960px;
  margin: auto;
  height:42px;
}


.menu > li {
  display: inline;
  margin:0 15px 0 0;
  font-size:12px;
  font-weight:bold;
  padding:;
}



.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.main_logo_container{
  background-color: #041A9B;
  border-bottom:#fff 1px solid;
  /* padding: 6px 10px 7px 0; */
}
.main_logo{

  margin:0 auto;


  font: 11px sans-serif;

  width: 960px;


  padding: 6px 10px 7px 0;

  /* padding: 6px 10px 14px 10px; */

}

.main_logo a{
  color: #fff;
}

.main_logo img{
  height:35px;
}

.welcome_banner_container{
  color:#fff;
  background-color:#1482DC;
  width: 100%;
}

.welcome_banner a{
  color:#fff;
}

.welcome_banner{
  position:relative;
  width:960px;
  margin: 0 auto 30px auto;
  padding: 5px 0 0 0;

}

.title{
  height: 52px;
  font: 20px sans-serif;
}

.wrapper {
    /* min-height: 90%; */
    height: auto !important;
    height: 90%;
    margin: 0 auto -60px;
  }

.main_nav{
  border-bottom:1px solid #ccc;
}

.footer{
  height: 200px;
  background:#ccc;
  /* display: block; */
}

.inline{
  display: inline-block;
}

.left{
  float:left;
}

.none{
  float:none;
}

.right{
  float:right;
}

.large_slide_control{
  position:relative;
  left: 15px;
  top:200px;
  width: 30px;
}

.info_box{
  margin: 15px 20px 16px 30px;
  color: #999;
  width: 245px;
  vertical-align: top;
  /* height: 99px; */
  border: 1px #eee solid;
  padding: 6px;
  border-radius: 5px;
}
.info_box:last-child{/* app css stylesheet */
html{
   /* height:100%; */
}

body{
  /* height:100%; */
}

a:link{
  text-decoration:none;
}

.menu {
  list-style: none;
  /* border-bottom: 0.1em solid black; */
  /* margin-bottom: 2em; */
  padding: 12px 0 0 20px;
  background: #fff;
  width: 960px;
  margin: auto;
  height:42px;
}


.menu > li {
  display: inline;
  margin:0 15px 0 0;
  font-size:12px;
  font-weight:bold;
  padding:;
}



.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.main_logo_container{
  background-color: #041A9B;
  border-bottom:#fff 1px solid;
  /* padding: 6px 10px 7px 0; */
}
.main_logo{

  margin:0 auto;


  font: 11px sans-serif;

  width: 960px;


  padding: 6px 10px 7px 0;

  /* padding: 6px 10px 14px 10px; */

}

.main_logo a{
  color: #fff;
}

.main_logo img{
  height:35px;
}

.welcome_banner_container{
  color:#fff;
  background-color:#1482DC;
  width: 100%;
}

.welcome_banner a{
  color:#fff;
}

.welcome_banner{
  position:relative;
  width:960px;
  margin: 0 auto 30px auto;
  padding: 5px 0 0 0;

}

.title{
  height: 52px;
  font: 20px sans-serif;
}

.wrapper {
    /* min-height: 90%; */
    height: auto !important;
    height: 90%;
    margin: 0 auto -60px;
  }

.main_nav{
  border-bottom:1px solid #ccc;
}

.footer{
  height: 200px;
  background:#ccc;
  /* display: block; */
}

.inline{
  display: inline-block;
}

.left{
  float:left;
}

.right{
  float:right;
}

.large_slide_control{
  position:relative;
  top:200px;
  width: 30px;
}

.info_box:first-child{
  margin: 0 4.7% 0 -5px;
}
.info_box:last-child{
  position: relative;
  margin: 0px 2px 0 4.7%;
  left: 11px;
}

.left_margin{
  margin:0 0 0 20px;
}

.right_margin{
  margin:0 20px 0 0;
}

.container_shadow{
  box-shadow: #333 0px 5px 21px 1px;
}

  position: relative;
  position: relative;margin: 0px 2px 0 4.7%;
  left: 11px;
}

.left_margin{
  margin:0 0 0 20px;
}

.right_margin{
  margin:0 20px 0 0;
}

.container_shadow{
  box-shadow: #666 0px 5px 18px -1px;
}

.image-viewer {
    position: relative;
    overflow: hidden;
    height: 377px;
    max-width: 960px;
    border-radius: 4px;
    background-color: white;
    float: none;
    margin: auto;
  }

.container_shadow{}

.profileContainer{
  border:solid 1px #ccc;
  border-radius:4px;
  width: 345px;
  margin: 15px;
  padding: 0;
  background: #fff;
  box-shadow: #999 0px 1px 12px -2px;
}

.text{
  position:relative;
  right: 36px;
  margin:10px;
  width: 213px;
  color:#777;
  font: 10px arial;
  /* font-weight: bold; */
}

.profileImage{
  width: 65px;
  height: 65px;
  margin: 10px;
  overflow:hidden;

}
.profileImage img{
  width: 100%;
}

#content{
  margin:0;
  background-color: #DEEEFC;
}

.resource-list .thumbnail{
  height:75px;
}

.subheading_link{
  font-size: 12px;
  position: relative;
  left: 132px;
  color: #1482DC;
}

.triangle-left{
  display:inline;
}

.triangle-down{
  display:none;
}
