/* app css stylesheet */
html{
   /* height:100%; */
}

body{
  /* height:100%; */
}

ul{
  text-decoration:none;
  list-style:none;
}

a{
  cursor:pointer;
}

a:link, a:visited{
  text-decoration:none;
  color:inherit;
}


.heading{
  font:arial;
  color:#041A9B;
}

.bptext{
  margin:0 0 0 15px;
  max-width:700px;
}

.menu {
  list-style: none;
  padding: 15px 0 15px 0;
  background: #fff;
  width: 960px;
  margin: auto;
  color: #337ab7;
  background: -webkit-linear-gradient(#fff, #eee );
}


.menu > li {
  display: inline;
  /* margin:12px 15px 0 0; */
  font-size:12px;
  font-weight:bold;
  color: #041A9B;
  padding:16px 20px 16px 20px;
  border-right:1px solid #ccc;
  background: -webkit-linear-gradient(#fff, #eee );
}

.main_logo_container{
  background-color: #041A9B;
  border-bottom:#fff 1px solid;
  /* padding: 6px 10px 7px 0; */
}
.main_logo{

  margin:0 auto;


  font: 11px sans-serif;

  width: 960px;


  padding: 6px 10px 7px 0;

}

.large_slide_control{
  cursor:pointer;
  position:relative;
  left: -30px;
  top: 132px;
  z-index: 3;
  width: 26px;
  /* height: 75px; */
  /* display: inline; */
}

@media (max-width:810px){
  .large_slide_control img {
    width:26px;
  }
}

.main_logo a{
  color: #fff;
}

.main_logo img{
  height:35px;
}

.welcome_banner_container{
  color:#fff;
  background-color:#1482DC;
  width: 100%;
}

.welcome_banner a{
  color:#fff;
}

.welcome_banner{
  position:relative;
  width:960px;
  height: 84px;
  margin: 0 auto 30px auto;
  padding: 5px 0 0 0;
}

.welcome_banner {}

.welcome_links{
  position: absolute;
  /* margin: 23px 0 0 0; */
  left: 43px;
  float: left;
  width: 180px;
  /* display: none; */
}

.title{
  height: 52px;
  font: 20px sans-serif;
}

.wrapper {
    /* min-height: 90%; */
    height: auto !important;
    height: 90%;
    margin: 0 auto -60px;
  }

.main_nav{
  border-bottom:1px solid #ccc;
}

.footer{
  min-height: 200px;
  background: #15236E url('../img/footer-bg.jpg') no-repeat center top;
  /* display: block; */
}

.inline{
   display: inline-block;
}

.left{
  float:left;
}

.none{
  float:none;
}

.right{
  float:right;
}

.info_box{
  /* margin: 15px 20px 16px 30px; */
  color: #999;
  width: 94%;
  vertical-align: top;
  /* height: 99px; */
  border: 1px #ddd solid;
  padding: 6px;
  border-radius: 5px;
  box-shadow: #ccc 0 0 10px 1px;
}
.info_box:last-child{/* app css stylesheet */
html{
   /* height:100%; */
}

body{
  /* height:100%; */
}

a:link{
  text-decoration:none;
}

.menu {
  list-style: none;
  /* border-bottom: 0.1em solid black; */
  /* margin-bottom: 2em; */
  padding: 12px 0 0 20px;
  background: #fff;
  width: 960px;
  margin: auto;
  height:42px;
}

.main_logo_container{
  background-color: #041A9B;
  border-bottom:#fff 1px solid;
  /* padding: 6px 10px 7px 0; */
}
.main_logo{

  margin:0 auto;


  font: 11px sans-serif;

  width: 960px;


  padding: 6px 10px 7px 0;

  /* padding: 6px 10px 14px 10px; */

}

.main_logo a{
  color: #fff;
}

.main_logo img{
  height:35px;
}

.welcome_banner_container{
  color:#fff;
  background-color:#1482DC;
  width: 100%;
}

.welcome_banner a{
  color:#fff;
}

.welcome_banner{
  position:relative;
  width:960px;
  margin: 0 auto 30px auto;
  padding: 5px 0 0 0;

}

.title{
  height: 52px;
  font: 20px sans-serif;
}

.wrapper {
    /* min-height: 90%; */
    height: auto !important;
    height: 90%;
    margin: 0 auto -60px;
  }

.main_nav{
  border-bottom:1px solid #ccc;
}

.footer{
  height: 200px;
  background:#ccc;
  /* display: block; */
}

.inline{
  display: inline-block;
}

.left{
  float:left;
}

.right{
  float:right;
}

.info_box:first-child{
  margin: 0 4.7% 0 -5px;
}
.info_box:last-child{
  position: relative;
  margin: 0px 2px 0 4.7%;
  left: 11px;
}

.left_margin{
  margin:0 0 0 20px;
}

.right_margin{
  margin:0 20px 0 0;
}

.container_shadow{
  box-shadow: #333 0px 5px 21px 1px;
}

  position: relative;
  position: relative;/* margin: 0px 2px 0 4.7%; */
  /* left: 11px; */
}

.left_margin{
  margin:0 0 0 20px;
}

.right_margin{
  margin: 0 20px 0 0px;
}

.container_shadow{
  box-shadow: #666 0px 5px 18px -1px;
}

.image-viewer {
    position: relative;
    overflow: hidden;
    height: 377px;
    max-width: 960px;
    border-radius: 4px;
    background-color: white;
    float: none;
    margin: auto;
  }


 .profileDetail .row{
  margin:20px 0 20px 0;
 }

.text{
  position:relative;
  right: 2px;
  /* margin:10px; */
  width: 213px;
  color:#777;
  font: 10px arial;
  /* font-weight: bold; */
}

.profileImage{
  width: 65px;
  height: 65px;
  margin: 0 10px 0 0;
  overflow:hidden;
}/* app css stylesheet */
html{
   /* height:100%; */
}

body{
  /* height:100%; */
}

ul{
  text-decoration:none;
  list-style:none;
}

a{
  cursor:pointer;
}

a:link, a:visited, a:hover{
  text-decoration:none ;
  color:inherit !important;
}


.main_logo_container{
  background-color: #041A9B;
  border-bottom:#fff 1px solid;
  /* padding: 6px 10px 7px 0; */
}
.main_logo{

  margin:0 auto;


  font: 11px sans-serif;

  width: 960px;


  padding: 6px 10px 7px 0;

  /* padding: 6px 10px 14px 10px; */

  color: #fff;

}


.main_logo img{
  height:35px;
}

.welcome_banner_container{
  color:#fff;
  background-color:#1482DC;
  width: 100%;
}

.welcome_banner a{
  color:#fff;
}

.welcome_banner{
  position:relative;
  width:960px;
  height: 84px;
  margin: 0 auto 30px auto;
  padding: 5px 0 0 0;
}

.welcome_banner {}

.welcome_links{
  position: absolute;
  margin: 6px 0 0 0;
  left: 43px;
  float: left;
  width: 180px;
  /* display: none; */
}

.title{
  height: 15px;
  font: 20px sans-serif;
}

.wrapper {
    /* min-height: 90%; */
    height: auto !important;
    height: 90%;
    margin: 0 auto -60px;
  }

.main_nav{
  border-bottom:1px solid #ccc;
}

.footer{
  min-height: 400px;
  background: #15236E url('../img/footer-bg.jpg') no-repeat center top;
  color:#fff;
}

.col-16 .ng-binding{
  display:inline-block;
  margin:0 0 0 15px;
  width:120px;
  vertical-align:top;
}

.dotBorder{
  border-top:1px dotted #fff;
}

.col-16{
  position:relative;
  vertical-align:top;
  max-width:;
  display:inline-block;
  margin-right:15px;
  font:10px arial;
}

.inline{
   display: inline-block;
}

.left{
  float:left;
}

.none{
  float:none;
}

.right{
  float:right;
}

.info_box{
  margin: 20px auto;
  color: #999;
  width: 94%;
  vertical-align: top;
  /* height: 99px; */
  border: 1px #ddd solid;
  padding: 6px;
  border-radius: 5px;
  box-shadow: #ccc 0 0 10px 1px;
}
.info_box:last-child{/* app css stylesheet */
html{
   /* height:100%; */
}

body{
  /* height:100%; */
}

a:link{
  text-decoration:none;
}

.menu {
  list-style: none;
  /* border-bottom: 0.1em solid black; */
  /* margin-bottom: 2em; */
  padding: 12px 0 0 20px;
  background: #fff;
  width: 960px;
  margin: auto;
  height:42px;
}

.main_logo_container{
  background-color: #041A9B;
  border-bottom:#fff 1px solid;
  /* padding: 6px 10px 7px 0; */
}
.main_logo{

  margin:0 auto;


  font: 11px sans-serif;

  width: 960px;


  padding: 6px 10px 7px 0;

  /* padding: 6px 10px 14px 10px; */

}

.main_logo a:{
  text-decoration:none;
}

.main_logo img{
  height:35px;
}

.welcome_banner_container{
  color:#fff;
  background-color:#1482DC;
  width: 100%;
}

.welcome_banner a{
  color:#fff;
}

.welcome_banner{
  position:relative;
  width:960px;
  margin: 0 auto 30px auto;
  padding: 5px 0 0 0;
}


.bptext{
  margin:15px;
}

.title{
  height: 52px;
  font: 20px sans-serif;
}

.wrapper {
    /* min-height: 90%; */
    height: auto !important;
    height: 90%;
    margin: 0 auto -60px;
  }

.main_nav{
  border-bottom:1px solid #ccc;
}

.footer{
  height: 200px;
  background:#ccc;
  /* display: block; */
}

.inline{
  display: inline-block;
}

.left{
  float:left;
}

.right{
  float:right;
}

.info_box:first-child{
  margin: 0 4.7% 0 -5px;
}
.info_box:last-child{
  position: relative;
  margin: 0px 2px 0 4.7%;
  left: 11px;
}

.left_margin{
  margin:0 0 0 20px;
}

.right_margin{
  margin:0 20px 0 0;
}

.container_shadow{
  box-shadow: #333 0px 5px 21px 1px;
}

  position: relative;
  position: relative;/* margin: 0px 2px 0 4.7%; */
  /* left: 11px; */
}

.left_margin{
  margin:0 0 0 20px;
}

.right_margin{
  margin: 0 20px 0 0px;
}

.container_shadow{
  box-shadow: #666 0px 5px 18px -1px;
}

.image-viewer {
    position: relative;
    overflow: hidden;
    height: 377px;
    max-width: 960px;
    border-radius: 4px;
    background-color: white;
    float: none;
    margin: auto;
  }

.profileContainer{
  border:1px solid #999;
  border-radius:4px;
  width: 315px;
  margin: 15px;
  padding: 10px;
  background: #fff;
  box-shadow: #999 0px 1px 12px -2px;
}
@media (max-width:690px){
  .menu{
    padding:0;
  }
  .menu > li{
    display: block;
    width:100%;
    margin: 0 15px 0 0;
    font-size: 12px;
    font-weight: bold;
    background: -webkit-linear-gradient(#fff, #eee);
    border-top:1px solid #eee;
    border-bottom: 1px solid #ccc;
    padding: 15px 0 15px 40px;
  }
}
.profileContainer:hover{
  border:1px solid #91E1F9;
  border-radius:4px;
  width: 315px;
  margin: 15px;
  padding: 10px;
  background: #fff;
  box-shadow: #999 0px 1px 12px -2px;
}

.faded{
}

.profileDetail{
  position: absolute;
  border: 1px #ddd solid;
  border-radius:8px;
  max-width: 600px;
  margin: 15px 15px 0 0;
  background: #fff;
  padding: 10px;
}
 .profileDetail .row{
  margin:20px 0 20px 0;
 }
.text{
  position:relative;
  right: 2px;
  /* margin:10px; */
  width: 213px;
  color:#777;
  font: 10px arial;
  /* font-weight: bold; */
}

.profileImage{
  width: 65px;
  height: 65px;
  margin: 0 10px 0 0;
  overflow:hidden;
}

.profileImageLarge{
  width: 125px;
  height: 125px;
  margin: 0 10px 15px 0;
  overflow:hidden;
  position: absolute;
  right: 30px;
}

.profileImage img{
  width: 100%;
}

.profileImageLarge img{
  height: 100%;
}

#content{
  margin:0;
  background-color: #DEEEFC;
}

.resource-list .thumbnail{
  height:75px;
}

.subheading_link{
  font-size: 12px;
  position: relative;
  left: 132px;
  color: #1482DC;
}
.subheading{
  font-size: 12px;
  color: #1482DC;
}

.footerImage{
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
  height: 39px;
  max-width:960px;
}

.footerImage img{
  height:100%;
}

.footer .container{
  min-height:0;
  background: transparent;
}

.side_menu_button{
  //min-height: 30px;
  width:100%;
  //border-top:1px  #fff solid;
  border-top: 1px  #73B3DD solid;
  border-bottom: 1px #146296 solid;
  background:#1482dc;
  font:12px arial;
  color:#fff;
  padding:10px 15px;
}

.side_panel_heading{
  background: #0F4F7A;
  border-bottom: 1px #0C3C56 solid;

  font: 12px arial;
  color: #fff;
  padding: 10px;
}

.sub_script{
  font:9px arial;
}

.side_panel_heading:first-child{
  border-radius: 4px 4px 0 0;
}
.triangle-left{
  display:inline;
}

.triangle-down{
  display:none;
}

.side_panel{
  min-height: 131px;
  width: 214px;
  background:#fff;
  border-radius:4px;
  position: absolute;
  left: -244px;
  top:100px;
  /* border:1px #1482DC solid; */
  background: #1482dc;
  float: left;
}

.small_slide_control{
  position: absolute;
  display: inline-block;
  float: left;
  left: 4px;
  /* height: 85px; */
  /* margin: 15px 0 0  0; */
}

.small_slide_control img{
  cursor:pointer;
}
.welcome_container{
  float:left;
  padding: 23px;
}

.contact_container{
  position: relative;
  overflow: hidden;
  /* overflow-y: visible; */
  width: 337px;
  height: 90px;
  display: inline-block;
}

@media (max-width:530px){
  .welcome_container {
     float: none;
    padding: 10px 0 10px 23px;
}

  .contact_container {
    position: relative;
    overflow: hidden;
    /* overflow-y: visible; */
    width: 337px;
    height: 90px;
    display:block;
  }
}

.contact{
  position: absolute;
  left: -303px;
  /* display: none; */
  /* height:100px; */
  width: 303px;
  background:#fff;
  border-radius:0 4px 4px 0;
  float: left;
  font: 11px arial;
  color: #777;
  padding: 8px 0 0 8px;
}

#largeImage{
  height: 377px;
}

.large_separator{
  display:inline-block;
  float:left;
}

.large_slide_menu{
  position: absolute;
  padding:0;
  left: 30px;
  z-index: 3;
}

.small_slide_menu{
  position:absolute;
  left: 0px;
}

.info_box li{
  margin:10px 0 0 0;
}

.midfooter_padding

.bptext{
  max-width: 750px;
  margin: 0 0 0 10px;
}
/*============================================*/
.notVisible{
  opacity:0;
  font-size:1em;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.visible {
  opacity:1;
  font-size: 1em;
  z-index:3;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.notShow{
  opacity:0;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.show {
  opacity:1;
  font-size: 1em;
  z-index:3;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5
}

.base-class.my-class {
  opacity: 1;
  font-size:10em;
}
/*==========================================*/


.profileImageLarge{
  width: 125px;
  height: 125px;
  margin: 0 10px 15px 0;
  overflow:hidden;
  position: absolute;
  right: 30px;
}

.profileImage img{
  width: 100%;
}

.profileImageLarge img{
  height: 1/* app css stylesheet */
html{
   /* height:100%; */
}

body{
  /* height:100%; */
}

ul{
  text-decoration:none;
  list-style:none;
}

a{
  cursor:pointer;
}

a:link, a:visited{
  text-decoration:none;
  color:inherit;
}



.menu {
  list-style: none;
  /* border-bottom: 0.1em solid black; */
  /* margin-bottom: 2em; */
  padding: 12px 0 0 20px;
  background: #fff;
  width: 960px;
  margin: auto;
  height:42px;
  color: #337ab7;
}

.main_logo_container{
  background-color: #041A9B;
  border-bottom:#fff 1px solid;
  /* padding: 6px 10px 7px 0; */
}
.main_logo{

  margin:0 auto;


  font: 11px sans-serif;

  width: 960px;


  padding: 6px 10px 7px 0;

  /* padding: 6px 10px 14px 10px; */

}

.main_logo a{
  color: #fff;
}

.main_logo img{
  height:35px;
}

.welcome_banner_container{
  color:#fff;
  background-color:#1482DC;
  width: 100%;
}

.welcome_banner a{
  color:#fff;
}

.welcome_banner{
  position:relative;
  width:960px;
  height: 84px;
  margin: 0 auto 30px auto;
  padding: 5px 0 0 0;
}

.welcome_banner {}

.welcome_links{
  position: absolute;
  margin: 23px 0 0 0;
  left: 43px;
  float: left;
  width: 180px;
  /* display: none; */
}

.title{
  height: 52px;
  font: 20px sans-serif;
}

.wrapper {
    /* min-height: 90%; */
    height: auto !important;
    height: 90%;
    margin: 0 auto -60px;
  }

.main_nav{
  border-bottom:1px solid #ccc;
}

.footer{
  min-height: 200px;
  background: #15236E url('../img/footer-bg.jpg') no-repeat center top;
  /* display: block; */
}

.inline{
   display: inline-block;
}

.left{
  float:left;
}

.none{
  float:none;
}

.right{
  float:right;
}

.large_slide_control{
  cursor:pointer;
  position:relative;
  left: -30px;
  top: 132px;
  z-index: 3;
  /* width: 26px; */
  /* height: 75px; */
  /* display: inline; */
}

.info_box{
  margin: 15px 20px 16px 30px;
  color: #999;
  width: 94%;
  vertical-align: top;
  /* height: 99px; */
  border: 1px #ddd solid;
  padding: 6px;
  border-radius: 5px;
  box-shadow: #ccc 0 0 10px 1px;
}
.info_box:last-child{/* app css stylesheet */
html{
   /* height:100%; */
}

body{
  /* height:100%; */
}

a:link{
  text-decoration:none;
}

.menu {
  list-style: none;
  /* border-bottom: 0.1em solid black; */
  /* margin-bottom: 2em; */
  padding: 12px 0 0 20px;
  background: #fff;
  width: 960px;
  margin: auto;
  height:42px;
}

.main_logo_container{
  background-color: #041A9B;
  border-bottom:#fff 1px solid;
  /* padding: 6px 10px 7px 0; */
}
.main_logo{

  margin:0 auto;


  font: 11px sans-serif;

  width: 960px;


  padding: 6px 10px 7px 0;

  /* padding: 6px 10px 14px 10px; */

}

.main_logo a{
  color: #fff;
}

.main_logo img{
  height:35px;
}

.welcome_banner_container{
  color:#fff;
  background-color:#1482DC;
  width: 100%;
}

.welcome_banner a{
  color:#fff;
}

.welcome_banner{
  position:relative;
  width:960px;
  margin: 0 auto 30px auto;
  padding: 5px 0 0 0;

}

.title{
  height: 52px;
  font: 20px sans-serif;
}

.wrapper {
    /* min-height: 90%; */
    height: auto !important;
    height: 90%;
    margin: 0 auto -60px;
  }

.main_nav{
  border-bottom:1px solid #ccc;
}

.footer{
  height: 200px;
  background:#ccc;
  /* display: block; */
}

.inline{
  display: inline-block;
}

.left{
  float:left;
}

.right{
  float:right;
}

.info_box:first-child{
  margin: 0 4.7% 0 -5px;
}
.info_box:last-child{
  position: relative;
  margin: 0px 2px 0 4.7%;
  left: 11px;
}

.left_margin{
  margin:0 0 0 20px;
}

.right_margin{
  margin:0 20px 0 0;
}

.container_shadow{
  box-shadow: #333 0px 5px 21px 1px;
}

  position: relative;
  position: relative;/* margin: 0px 2px 0 4.7%; */
  /* left: 11px; */
}

.left_margin{
  margin:0 0 0 20px;
}

.right_margin{
  margin: 0 20px 0 0px;
}

.container_shadow{
  box-shadow: #666 0px 5px 18px -1px;
}

.image-viewer {
    position: relative;
    overflow: hidden;
    height: 377px;
    max-width: 960px;
    border-radius: 4px;
    background-color: white;
    float: none;
    margin: auto;
  }


 .profileDetail .row{
  margin:20px 0 20px 0;
 }

.text{
  position:relative;
  right: 2px;
  /* margin:10px; */
  width: 213px;
  color:#777;
  font: 10px arial;
  /* font-weight: bold; */
}

.profileImage{
  width: 65px;
  height: 65px;
  margin: 0 10px 0 0;
  overflow:hidden;
}/* app css stylesheet */
html{
   /* height:100%; */
}

body{
  /* height:100%; */
}

ul{
  text-decoration:none;
  list-style:none;
}

a{
  cursor:pointer;
}

a:link, a:visited{
  text-decoration:none;
  color:inherit;
}



.menu {
  list-style: none;
  /* border-bottom: 0.1em solid black; */
  /* margin-bottom: 2em; */
  padding: 12px 0 0 20px;
  background: #fff;
  width: 960px;
  margin: auto;
  height:42px;
  color: #337ab7;
}

.main_logo_container{
  background-color: #041A9B;
  border-bottom:#fff 1px solid;
  /* padding: 6px 10px 7px 0; */
}
.main_logo{

  margin:0 auto;


  font: 11px sans-serif;

  width: 960px;


  padding: 6px 10px 7px 0;

  /* padding: 6px 10px 14px 10px; */

}

.main_logo a{
  color: #fff;
}

.main_logo img{
  height:35px;
}

.welcome_banner_container{
  color:#fff;
  background-color:#1482DC;
  width: 100%;
}

.welcome_banner a{
  color:#fff;
}

.welcome_banner{
  position:relative;
  width:960px;
  height: 84px;
  margin: 0 auto 30px auto;
  padding: 5px 0 0 0;
}

.welcome_banner {}

.welcome_links{
  position: absolute;
  margin: 23px 0 0 0;
  left: 43px;
  float: left;
  width: 180px;
  /* display: none; */
}

.title{
  height: 52px;
  font: 20px sans-serif;
}

.wrapper {
    /* min-height: 90%; */
    height: auto !important;
    height: 90%;
    margin: 0 auto -60px;
  }

.main_nav{
  border-bottom:1px solid #ccc;
}

.footer{
  min-height: 400px;
  background: #15236E url('../img/footer-bg.jpg') no-repeat center top;
  /* display: block; */
}

.inline{
   display: inline-block;
}

.left{
  float:left;
}

.none{
  float:none;
}

.right{
  float:right;
}

.large_slide_control{
  cursor:pointer;
  position:relative;
  left: -30px;
  top: 132px;
  z-index: 3;
  /* width: 26px; */
  /* height: 75px; */
  /* display: inline; */
}

.info_box{
  margin: 15px 20px 16px 30px;
  color: #999;
  width: 94%;
  vertical-align: top;
  /* height: 99px; */
  border: 1px #ddd solid;
  padding: 6px;
  border-radius: 5px;
  box-shadow: #ccc 0 0 10px 1px;
}
.info_box:last-child{/* app css stylesheet */
html{
   /* height:100%; */
}

body{
  /* height:100%; */
}

a:link{
  text-decoration:none;
}

.menu {
  list-style: none;
  /* border-bottom: 0.1em solid black; */
  /* margin-bottom: 2em; */
  padding: 12px 0 0 20px;
  background: #fff;
  width: 960px;
  margin: auto;
  height:42px;
}

.main_logo_container{
  background-color: #041A9B;
  border-bottom:#fff 1px solid;
  /* padding: 6px 10px 7px 0; */
}
.main_logo{

  margin:0 auto;


  font: 11px sans-serif;

  width: 960px;


  padding: 6px 10px 7px 0;

  /* padding: 6px 10px 14px 10px; */

}

.main_logo a{
  color: #fff;
}

.main_logo img{
  height:35px;
}

.welcome_banner_container{
  color:#fff;
  background-color:#1482DC;
  width: 100%;
}

.welcome_banner a{
  color:#fff;
}

.welcome_banner{
  position:relative;
  width:960px;
  margin: 0 auto 30px auto;
  padding: 5px 0 0 0;

}

.title{
  height: 52px;
  font: 20px sans-serif;
}

.wrapper {
    /* min-height: 90%; */
    height: auto !important;
    height: 90%;
    margin: 0 auto -60px;
  }

.main_nav{
  border-bottom:1px solid #ccc;
}

.footer{
  height: 200px;
  background:#ccc;
  /* display: block; */
}

.inline{
  display: inline-block;
}

.left{
  float:left;
}

.right{
  float:right;
}

.info_box:first-child{
  margin: 0 4.7% 0 -5px;
}
.info_box:last-child{
  position: relative;
  margin: 0px 2px 0 4.7%;
  left: 11px;
}

.left_margin{
  margin:0 0 0 20px;
}

.right_margin{
  margin:0 20px 0 0;
}

.container_shadow{
  box-shadow: #333 0px 5px 21px 1px;
}

  position: relative;
  position: relative;/* margin: 0px 2px 0 4.7%; */
  /* left: 11px; */
}

.left_margin{
  margin:0 0 0 20px;
}

.right_margin{
  margin: 0 20px 0 0px;
}

.container_shadow{
  box-shadow: #666 0px 5px 18px -1px;
}

.image-viewer {
    position: relative;
    overflow: hidden;
    height: 377px;
    max-width: 960px;
    border-radius: 4px;
    background-color: white;
    float: none;
    margin: auto;
  }

.profileContainer{
  border:1px solid #999;
  border-radius:4px;
  width: 315px;
  margin: 15px;
  padding: 10px;
  background: #fff;
  box-shadow: #999 0px 1px 12px -2px;
}

.profileContainer:hover{
  border:1px solid #91E1F9;
  border-radius:4px;
  width: 315px;
  margin: 15px;
  padding: 10px;
  background: #fff;
  box-shadow: #999 0px 1px 12px -2px;
}

.faded{
}

.profileDetail{
  position: absolute;
  border: 1px #ddd solid;
  border-radius:8px;
  max-width: 600px;
  margin: 15px 15px 0 0;
  background: #fff;
  padding: 10px;
}
 .profileDetail .row{
  margin:20px 0 20px 0;
 }
.text{
  position:relative;
  right: 2px;
  /* margin:10px; */
  width: 213px;
  color:#777;
  font: 10px arial;
  /* font-weight: bold; */
}

.profileImage{
  width: 65px;
  height: 65px;
  margin: 0 10px 0 0;
  overflow:hidden;
}

.profileImageLarge{
  width: 125px;
  height: 125px;
  margin: 0 10px 15px 0;
  overflow:hidden;
  position: absolute;
  right: 30px;
}

.profileImage img{
  width: 100%;
}

.profileImageLarge img{
  height: 100%;
}

#content{
  margin:0;
  background-color: #DEEEFC;
}

.resource-list .thumbnail{
  height:75px;
}

.subheading_link{
  font-size: 12px;
  position: relative;
  left: 132px;
  color: #1482DC;
}
.subheading{
  font-size: 12px;
  color: #1482DC;
}

.side_menu_button{
  //min-height: 30px;
  width:100%;
  //border-top:1px  #fff solid;
  border-top: 1px  #73B3DD solid;
  border-bottom: 1px #146296 solid;
  background:#1482dc;
  font:12px arial;
  color:#fff;
  padding:10px 15px;
}

.side_panel_heading{
  background: #0F4F7A;
  border-bottom: 1px #0C3C56 solid;

  font: 12px arial;
  color: #fff;
  padding: 10px;
}

.sub_script{
  font:9px arial;
}

.side_panel_heading:first-child{
  border-radius: 4px 4px 0 0;
}
.triangle-left{
  display:inline;
}

.triangle-down{
  display:none;
}

.side_panel{
  min-height: 131px;
  width: 214px;
  background:#fff;
  border-radius:4px;
  position: absolute;
  left: -244px;
  top:100px;
  /* border:1px #1482DC solid; */
  background: #1482dc;
  float: left;
}

.small_slide_control{
  position: absolute;
  /* display: inline-block; */
  float: left;
  left: 4px;
  /* height: 85px; */
  margin: 15px 0 0  0;
}

.small_slide_control img{
  cursor:pointer;
}

.contact{
  position: absolute;
  left: -303px;
  /* display: none; */
  /* height:100px; */
  width: 303px;
  background:#fff;
  border-radius:0 4px 4px 0;
  float: left;
  font: 11px arial;
  color: #777;
  padding: 8px 0 0 8px;
}

#largeImage{
  height: 377px;
}

.large_separator{
  display:inline-block;
  float:left;
}

.large_slide_menu{
  position: absolute;
  padding:0;
  left: 30px;
  z-index: 3;
}

.small_slide_menu{
  position:absolute;
  left: 0px;
}

.info_box li{
  margin:10px 0 0 0;
}

.midfooter_padding

.bptext{
  max-width: 750px;
  margin: 0 0 0 10px;
}
/*============================================*/
.notVisible{
  opacity:0;
  font-size:1em;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.visible {
  opacity:1;
  font-size: 1em;
  z-index:3;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.notShow{
  opacity:0;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.show {
  opacity:1;
  font-size: 1em;
  z-index:3;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5
}

.base-class.my-class {
  opacity: 1;
  font-size:10em;
}
/*==========================================*/


.profileImageLarge{
  width: 125px;
  height: 125px;
  margin: 0 10px 15px 0;
  overflow:hidden;
  position: absolute;
  right: 30px;
}

.profileImage img{
  width: 100%;
}

.profileImageLarge img{
  height: 100%;
}

#content{
  margin:0;
  min-height: 600px;
  background-color: #DEEEFC;
}

.resource-list .thumbnail{
  height:75px;
}

.subheading_link{
  font-size: 12px;
  position: relative;
  left: 132px;
  color: #1482DC;
}
.subheading{
  font-size: 12px;
  color: #1482DC;
}

.side_menu_button{
  //min-height: 30px;
  width:100%;
  //border-top:1px  #fff solid;
  border-top: 1px  #73B3DD solid;
  border-bottom: 1px #146296 solid;
  background:#1482dc;
  font:12px arial;
  color:#fff;
  padding:10px 15px;
}

.side_panel_heading{
  background: #0F4F7A;
  border-bottom: 1px #0C3C56 solid;

  font: 12px arial;
  color: #fff;
  padding: 10px;
}

.sub_script{
  font:9px arial;
}

.side_panel_heading:first-child{
  border-radius: 4px 4px 0 0;
}
.triangle-left{
  display:inline;
}

.triangle-down{
  display:none;
}

.side_panel{
  min-height: 131px;
  width: 214px;
  background:#fff;
  border-radius:4px;
  position: absolute;
  left: -244px;
  top:100px;
  /* border:1px #1482DC solid; */
  background: #1482dc;
  float: left;
}

.small_slide_control{
  position: absolute;
  /* display: inline-block; */
  float: left;
  left: 4px;
  /* height: 85px; */
  margin: 15px 0 0  0;
}

.small_slide_control img{
  cursor:pointer;
}

.contact_container{
  position: relative;
  overflow: hidden;
  /* overflow-y: visible; */
  width: 337px;
  height: 90px;
}

.contact{
  position: absolute;
  left: -303px;
  /* display: none; */
  /* height:100px; */
  width: 303px;
  background:#fff;
  border-radius:0 4px 4px 0;
  float: left;
  font: 11px arial;
  color: #777;
  padding: 8px 0 0 8px;
}

#largeImage{
  height: 377px;
}

.large_separator{
  display:inline-block;
  float:left;
}

.large_slide_menu{
  position: absolute;
  padding:0;
  left: 30px;
  z-index: 3;
}

.small_slide_menu{
  position:absolute;
  left: 0px;
}

.info_box li{
  margin:10px 0 0 0;
}

.midfooter_padding

.bptext{
  max-width: 750px;
  margin: 0 0 0 10px;
}
/*============================================*/

.notShow{
  opacity:0;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.show {
  opacity:1;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.base-class.my-class {
  opacity: 1;
  font-size:10em;
}
/*==========================================*/
00%;
}

#content{
  margin:0;
  min-height: 600px;
  background-color: #DEEEFC;
}

.resource-list .thumbnail{
  height:75px;
}

.subheading_link{
  font-size: 12px;
  position: relative;
  left: 132px;
  color: #1482DC;
}
.subheading{
  font-size: 12px;
  color: #1482DC;
}

.side_menu_button{
  //min-height: 30px;
  width:100%;
  //border-top:1px  #fff solid;
  border-top: 1px  #73B3DD solid;
  border-bottom: 1px #146296 solid;
  background:#1482dc;
  font:12px arial;
  color:#fff;
  padding:10px 15px;
}

.side_panel_heading{
  background: #0F4F7A;
  border-bottom: 1px #0C3C56 solid;

  font: 12px arial;
  color: #fff;
  padding: 10px;
}

.sub_script{
  font:9px arial;
}

.side_panel_heading:first-child{
  border-radius: 4px 4px 0 0;
}
.triangle-left{
  display:inline;
}

.triangle-down{
  display:none;
}

.side_panel{
  min-height: 131px;
  width: 214px;
  background:#fff;
  border-radius:4px;
  position: absolute;
  left: -244px;
  top:100px;
  /* border:1px #1482DC solid; */
  background: #1482dc;
  float: left;
}

.small_slide_control{
  position: absolute;
  float: left;
  left: 4px;
}

.small_slide_control img{
  cursor:pointer;
}

.contact{
  position: absolute;
  top: 0px;
  left: -303px;
  display: none;
  /* height:100px; */
  width: 303px;
  background:#fff;
  border-radius:0 4px 4px 0;
  float: left;
  font: 11px arial;
  color: #777;
  padding: 8px 0 0 8px;
}

#largeImage{
  height: 377px;
}

.large_separator{
  display:inline-block;
  float:left;
}

.large_slide_menu{
  position: absolute;
  padding:0;
  left: 30px;
  z-index: 3;
}

.small_slide_menu{
  position:absolute;
  left: 0px;
}

.info_box li{
  margin:10px 0 0 0;
}

.midfooter_padding

.bptext{
  max-width: 750px;
  margin: 0 0 0 10px;
}
/*============================================*/

.notShow{
  opacity:0;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.show {
  opacity:1;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.base-class.my-class {
  opacity: 1;
  font-size:10em;
}
/*==========================================*/
