.slide-buttons .active{
  background-color:#7CE581 !important;
}

.slide-buttons{position:relative;/* bottom:20px; *//* right:65px; */list-style: none;}

.slide-buttons li{height:10px; width:10px; border-radius:5px;background-color: #fff;display:inline-block;margin-right:5px;}

  .slide-viewer{
    position:relative;
    overflow: hidden;
    height: 325px;
    max-width: 960px;
    //margin:auto;
    border-radius:4px;
    background-color:white;
    //display:inline-block;
    float: none;
    margin: auto;
}
    .slide-btn{margin:5px 0px;}

      .slide-group{
        width:100%;
        height:100%;
        position:relative;
      }
      .slide{
        width:100%;
        height:100%;
        display:none;
        position:absolute;
      }
      .slide img{
        width:100%;
        //height:100%;
        //display:none;
        position:relative;
      }
      .slide:first-child{
        display:block;
      }

      .slider_nav{
        /* height:35px; */
        background:#ddd;
      }
      .slider_nav nav{
        width:860px;
        margin:auto;
      }

      .slide-buttons_container{
        width:200px;    
        margin: 14px 0 0 36%;
}

    @media (max-width: 770px){
      .title-collapsible{display:none;}
      #slide-wrap .col-md-6{margin:10px 0 0 0;width:90%;}
    }

      @media(max-width: 742px){
        .slide-viewer{display:none;}
        .slide-buttons{display:none;}
      }
