<div id="largeImage">
  <span id="file" style="display:none;">{{pageContent.largeImage}}</span>
  <div id="test"></div>
</div>
<div class="row">
  <div  class="info_box" ng-repeat="item in pageContent.sections">
    <p class="heading" ><strong>{{item.heading}}</strong></p>
    <ul>
      <li ng-repeat="point in item.text.bullet_points">
       <div class="glyphicon glyphicon-hand-right inline left"></div> <div class="bptext inline">{{point}}</div>
      </li>
      <p ng-repeat="paragraph in item.text.paragraphs"> {{paragraph}}</p>
    </ul>
  </div>

</div>
<script>
setTimeout(function(){
  var file = $('#file').html();
  $.ajax({
    method:'GET',
    url: file,
    success: function(result){
      $('#test').html(result);
    }
  });
}, 400);
</script>

<script>
/**start slider on page load**/
setTimeout(function(){
  $('.nav li a').on('click', function(){
    $('.nav li').removeClass('active');
    $(this).closest('li').addClass('active');
  });

      $('.slide-viewer').each(function(){
      var $this = $(this);
      var $group = $this.find('.slide-group');
      var $slides = $this.find('.slide');
      var buttonArray = [];
      var currentIndex = 0;
      var timeout;
      /*855-281-1771
      upload to navient.com two consecutive pay stubs from within the last 60days
      spoke with amy on the 06/30*/

    function move(newIndex){
      var animateLeft, slideLeft;
      advance();
      if($group.is(':animated') || currentIndex === newIndex){
        return;
      }
      buttonArray[currentIndex].removeClass('active');
      buttonArray[newIndex].addClass('active');

        slideLeft = '100%';
        animateLeft = '-100%';

      $slides.eq(newIndex).css( {left: slideLeft, display: 'block'});
      $group.animate( {left: animateLeft},1500 , function(){
        $slides.eq(currentIndex).css( {display : 'none'} );
        $slides.eq(newIndex).css( {left: 0} );
        $group.css( {left: 0} );
        currentIndex = newIndex;
      });
    }

    function advance(){
      clearTimeout(timeout);
      timeout = setTimeout(function(){
        if (currentIndex < ($slides.length - 1)) {
          move(currentIndex + 1);
        } else {
          move(0);
        }
      }, 4000);
    }
    $.each($slides , function(index){
      var $button = $('<li class=""></li>');
      if(index === currentIndex){
        $($button).addClass('active');
      };
      $button.on('click', function(){
        move(index);
      }).appendTo('.slide-buttons');
      buttonArray.push($button);

    });
    advance();
  });
}, 601);
</script>
