<div  id="slide-wrap">
  <!--h1 class="title-collapsible">Document Management</h1-->
  <div  class="">
    <div class="slide-viewer">
      <div class="slide-group">
        <div class="slide slide-1"><img id="image1" src="img/slide1.png"></div>
        <div class="slide slide-2"><img src="img/img2.png"></div>
        <div class="slide slide-3"><img src="img/img3.png"></div>
        <div class="slide slide-4"><img src="img/img4.png"></div>
      </div>
    </div>
    <div class="slider_nav">
      <div class="nav">
        <img ng-src="img/slider_control_left.png" class="inline left">
        <div class="slide-buttons_container inline">
          <ul class="slide-buttons inline"></ul>
        </div>
        <img ng-src="img/slider_control_right.png" class="inline right">
      </div>
    </div>
</div><!--end row line 1-->
