<div  id="slide-wrap">
  <!--h1 class="title-collapsible">Document Management</h1-->
  <div  class="">
    <div class="image-viewer">
      <div class="slide-group">
        <div class="slide slide-1"><img id="image1" src="img/major_explorers.png"></div>
      </div>
    </div>
    <div class="slider_nav">
      <div class="nav">



      </div>
    </div>
</div><!--end row line 1-->
<div class="row">
  <img src="img/info_box.png" class="info_box">
  <img src="img/info_box.png" class="info_box">
  <img src="img/info_box.png" class="info_box">
</div>
